body {
  background-image: url("./assets/img/paper-bg.jpg");
}

.option-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 72px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.score {
  font-size: 192px;
}

#divider {
  font-size: 48px;
}

#human-scoreboard,
#computer-scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
}

button {
  background-color: transparent;
  border: none;
  padding: 16px 8px;
}

button:hover {
  border: 1px solid black;
}
